@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
*{
    font-family: 'Open Sans Condensed', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg.jpg');
    background-size: cover;   
}
