*{
    font-family: Comic Sans MS;
    margin: 0, auto;
}

.about_us_1 {
    background-image: url('../images/aboutus_background_1.jpg');
    background-size: cover;   
}

.about_us_2 {
    background-image: url('../images/aboutus_background_2.jpg');
    background-size: cover;   
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;   
}

header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.header_menu {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    font-weight: bold; 
}

.header_menu a{
    color: white;
    text-decoration: none;}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member {
    margin-top: 50px;
    height:600px;
    width:500px;
}
.member_1 {
    background-image: url('../images/member_1.jpg');
}
.member_2 {
    background-image: url('../images/member_2.jpg');
}
.member_3 {
    background-image: url('../images/member_3.jpg');
}
.member_4 {
    background-image: url('../images/member_4.jpg');
}

.moneyball {
    display: flex;
    justify-content: center;
    align-items: center;
    height:500;
    width:400;
    background-image: url('../images/moneyball.png');  
}

.moneyball_text {
    text-align: center;
    font-size: 40px;
    background-color: white; 
}

.highlight {
     background-color: white; 
}

.bg_img {
    display: flex;
    height: 100vh;
    background-size: cover;
}
.bg_img_contact {
    background-image: url('https://thequestion.s3.eu-central-1.amazonaws.com/223/225039-f56bc0c7.jpeg(359 kB)
        https://thequestion.s3.eu-central-1.amazonaws.com/223/225039-f56bc0c7.jpeg
        ');
    opacity: 70%;
}

